In [1]:
import numpy as np
import pandas as pd

## [`pd.read_csv` explained in detailed](https://youtu.be/dA6ZksRR6aw?si=MEloRuwU6XGGKCEx&t=1567)

In [32]:
# opening the csv file that ison the internet
import requests
from io import StringIO
import pandas as pd

# Use the raw URL, not the GitHub webpage URL
url = "https://raw.githubusercontent.com/datasets/country-list/main/data.csv"
headers = {"User-Agent": "Mozilla/5.0"}

# Make the request
req = requests.get(url, headers=headers)

# Convert to CSV using StringIO
data = StringIO(req.text)

# Load into pandas DataFrame
df = pd.read_csv(data)

# Show the first few rows
df

                  Name Code
0          Afghanistan   AF
1        Ã…land Islands   AX
2              Albania   AL
3              Algeria   DZ
4       American Samoa   AS
..                 ...  ...
244  Wallis and Futuna   WF
245     Western Sahara   EH
246              Yemen   YE
247             Zambia   ZM
248           Zimbabwe   ZW

[249 rows x 2 columns]

In [33]:
# or we can do directly like this
pd.read_csv('https://raw.githubusercontent.com/datasets/country-list/main/data.csv')

                  Name Code
0          Afghanistan   AF
1        Ã…land Islands   AX
2              Albania   AL
3              Algeria   DZ
4       American Samoa   AS
..                 ...  ...
244  Wallis and Futuna   WF
245     Western Sahara   EH
246              Yemen   YE
247             Zambia   ZM
248           Zimbabwe   ZW

[249 rows x 2 columns]

In [34]:
# sep parameter -> https://youtu.be/dA6ZksRR6aw?si=v41TeJGpcSoZy5PW&t=1857

# so what sep param is did is it will separate the columns by comma, for tsv file we can use sep='\t'

pd.read_csv('languages_perferences.csv',sep=',')

  Language  Year               Feeling
0   Python  1992               GoldenğŸ’›
1       JS  1995              WebGodğŸ•¸ï¸
2      C++  1986  PointersğŸ‘ˆğŸ»ğŸ‘‰ğŸ»ğŸ‘ˆğŸ»ğŸ«µğŸ»ğŸ‘†ğŸ»ğŸ‘‡ğŸ»
3        C  1980              Creatorâš¡

In [ ]:
# names param to change column names -> https://youtu.be/dA6ZksRR6aw?si=tFU9vq0ko9KKBfe4&t=1947
pd.read_csv('languages_perferences.csv',sep=',',names=['Lang_Name', 'Year_of_Release', 'Feeling'])

  Lang_Name Year_of_Release               Feeling
0  Language            Year               Feeling
1    Python            1992               GoldenğŸ’›
2        JS            1995              WebGodğŸ•¸ï¸
3       C++            1986  PointersğŸ‘ˆğŸ»ğŸ‘‰ğŸ»ğŸ‘ˆğŸ»ğŸ«µğŸ»ğŸ‘†ğŸ»ğŸ‘‡ğŸ»
4         C            1980              Creatorâš¡

In [21]:
# index col param(for converting particular column into index)  -> https://youtu.be/dA6ZksRR6aw?si=DxgLkntKdmj2cgqM&t=2047

pd.read_csv('languages_perferences.csv',index_col='Language')
# or 
# pd.read_csv('languages_perferences.csv').set_index('Language')

          Year               Feeling
Language
Python    1992               GoldenğŸ’›
JS        1995              WebGodğŸ•¸ï¸
C++       1986  PointersğŸ‘ˆğŸ»ğŸ‘‰ğŸ»ğŸ‘ˆğŸ»ğŸ«µğŸ»ğŸ‘†ğŸ»ğŸ‘‡ğŸ»
C         1980              Creatorâš¡

In [22]:
# header param(for converting particular row into column) -> https://youtu.be/dA6ZksRR6aw?si=YGb9i-tBPBWHNsTe&t=2107
pd.read_csv('languages_perferences.csv',header=None) # header=None will convert column into first row

          0     1                     2
0  Language  Year               Feeling
1    Python  1992               GoldenğŸ’›
2        JS  1995              WebGodğŸ•¸ï¸
3       C++  1986  PointersğŸ‘ˆğŸ»ğŸ‘‰ğŸ»ğŸ‘ˆğŸ»ğŸ«µğŸ»ğŸ‘†ğŸ»ğŸ‘‡ğŸ»
4         C  1980              Creatorâš¡

In [23]:
# use_cols param(to fetch only given columns) -> https://youtu.be/dA6ZksRR6aw?si=-_GCz-N0PDe36iEA&t=2177
pd.read_csv('languages_perferences.csv',usecols=['Language','Feeling'])

  Language               Feeling
0   Python               GoldenğŸ’›
1       JS              WebGodğŸ•¸ï¸
2      C++  PointersğŸ‘ˆğŸ»ğŸ‘‰ğŸ»ğŸ‘ˆğŸ»ğŸ«µğŸ»ğŸ‘†ğŸ»ğŸ‘‡ğŸ»
3        C              Creatorâš¡

In [24]:
# squeeze function to convert dataframe into series
pd.read_csv('languages_perferences.csv',usecols=['Language']).squeeze()

0    Python
1        JS
2       C++
3         C
Name: Language, dtype: object

In [25]:
# skiprows and nrows params -> https://youtu.be/dA6ZksRR6aw?si=S41J_Fan6SDUyis7&t=2307
pd.read_csv('languages_perferences.csv',nrows=2) # will read only first two rows

  Language  Year   Feeling
0   Python  1992   GoldenğŸ’›
1       JS  1995  WebGodğŸ•¸ï¸

In [26]:
pd.read_csv('languages_perferences.csv',skiprows=2) # will skip first two rows
pd.read_csv('languages_perferences.csv',skiprows=[0,3]) # will skip first and third rows

  Python  1992   GoldenğŸ’›
0     JS  1995  WebGodğŸ•¸ï¸
1      C  1980  Creatorâš¡

In [27]:
# skip rows on logic

pd.read_csv('languages_perferences.csv',skiprows=lambda row : row>2) # will skip first two

  Language  Year   Feeling
0   Python  1992   GoldenğŸ’›
1       JS  1995  WebGodğŸ•¸ï¸

In [28]:
# encoding parameter -> https://youtu.be/dA6ZksRR6aw?si=tdfoSRxlWdRNpi6L&t=2477

In [29]:
# skip bad lines(error_bad_line=False) ->  https://youtu.be/dA6ZksRR6aw?si=Ne7QJn7qxZT_XL1w&t=2657

In [44]:
# dtype param -> https://youtu.be/dA6ZksRR6aw?si=4GDCKERBWJmS6gCe&t=2717
pd.read_csv('languages_perferences.csv',dtype={'Year':np.int32}).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Language  4 non-null      object
 1   Year      4 non-null      int32
 2   Feeling   4 non-null      object
dtypes: int32(1), object(2)
memory usage: 212.0+ bytes

In [68]:
# Handling dates using `parse_dates` -> https://youtu.be/dA6ZksRR6aw?si=cd8udkNbBCayhR4H&t=2827
# we can also pass list of indexes of columns to parse as dates(each column separately)

pd.read_csv('languages_perferences.csv',parse_dates=['Year'])

  Language       Year               Feeling
0   Python 1992-01-01               GoldenğŸ’›
1       JS 1995-01-01              WebGodğŸ•¸ï¸
2      C++ 1986-01-01  PointersğŸ‘ˆğŸ»ğŸ‘‰ğŸ»ğŸ‘ˆğŸ»ğŸ«µğŸ»ğŸ‘†ğŸ»ğŸ‘‡ğŸ»
3        C 1980-01-01              Creatorâš¡

In [ ]:



# i just change this dataset for 2 minutes

# when we pass indexes in list of list to parse as dates, it try to combine all those
pd.read_csv('languages_perferences.csv',parse_dates=[['Year','Month']])

# for give combined column specific name
pd.read_csv('languages_perferences.csv',parse_dates={'Date':['Year','Month']})

C:\Users\Vedansh\AppData\Local\Temp\ipykernel_16944\894734175.py:4: FutureWarning: Support for nested sequences for 'parse_dates' in pd.read_csv is deprecated. Combine the desired columns with pd.to_datetime after parsing instead.
  pd.read_csv('languages_perferences.csv',parse_dates=[['Year','Month']])
C:\Users\Vedansh\AppData\Local\Temp\ipykernel_16944\894734175.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.read_csv('languages_perferences.csv',parse_dates=[['Year','Month']])
C:\Users\Vedansh\AppData\Local\Temp\ipykernel_16944\894734175.py:5: FutureWarning: Support for nested sequences for 'parse_dates' in pd.read_csv is deprecated. Combine the desired columns with pd.to_datetime after parsing instead.
  pd.read_csv('languages_perferences.csv',parse_dates={'Date':['Year','Month']})
C:\Users\Vedansh\AppData\Local\Temp\ipykernel_16944\894734175.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.read_csv('languages_perferences.csv',parse_dates={'Date':['Year','Month']})

        Date Language               Feeling
0 1992-12-01   Python               GoldenğŸ’›
1 1995-02-01       JS              WebGodğŸ•¸ï¸
2 1986-07-01      C++  PointersğŸ‘ˆğŸ»ğŸ‘‰ğŸ»ğŸ‘ˆğŸ»ğŸ«µğŸ»ğŸ‘†ğŸ»ğŸ‘‡ğŸ»
3 1980-09-01        C              Creatorâš¡

In [70]:
# convertors -> https://youtu.be/dA6ZksRR6aw?si=0TC62ofTYnPHt0Xf&t=3007
pd.read_csv('languages_perferences.csv',converters={'Language':lambda x : 'JavaScript' if x == 'JS' else x} )

     Language  Year               Feeling
0      Python  1992               GoldenğŸ’›
1  JavaScript  1995              WebGodğŸ•¸ï¸
2         C++  1986  PointersğŸ‘ˆğŸ»ğŸ‘‰ğŸ»ğŸ‘ˆğŸ»ğŸ«µğŸ»ğŸ‘†ğŸ»ğŸ‘‡ğŸ»
3           C  1980              Creatorâš¡

In [3]:
# `na_values` param -> https://youtu.be/dA6ZksRR6aw?si=upYdQr1CTQzxmKdc&t=3127

# so the value we passed in the na_values will be considered as NaN
pd.read_csv('languages_perferences.csv',na_values=['C++'])

  Language  Year               Feeling
0   Python  1992               GoldenğŸ’›
1       JS  1995              WebGodğŸ•¸ï¸
2      NaN  1986  PointersğŸ‘ˆğŸ»ğŸ‘‰ğŸ»ğŸ‘ˆğŸ»ğŸ«µğŸ»ğŸ‘†ğŸ»ğŸ‘‡ğŸ»
3        C  1980              Creatorâš¡

In [101]:
# loading a huge dataset in chunks -> https://youtu.be/dA6ZksRR6aw?si=Xcq9GQ00O7XQzjyD&t=3247

chunkCsv = pd.read_csv('languages_perferences.csv',chunksize=2)
chunkCsv

In [102]:
# but not its like an iterator, once it exhaust it will return nothing
for chunk in chunkCsv:
    print(chunk['Year'])
    print('\n')

0    1992
1    1995
Name: Year, dtype: int64


2    1986
3    1980
Name: Year, dtype: int64