In [2]:
import numpy as np
import pandas as pd

In [4]:
pd.read_excel('languages_perferences.xlsx')

   Unnamed: 0     Language  Year         Feeling
0           0         Java  1992  BillionDevices
1           1          PHP  1995             Red
2           2  RubyOnRails  1986    RubyAndRails
3           3       Kotlin  1980     JavaBrother

In [ ]:
# get second sheet data -> https://youtu.be/dA6ZksRR6aw?si=Cvtryh5f1xfhkAoR&t=3547

In [6]:
pd.read_excel('languages_perferences.xlsx',sheet_name='Sheet1')

   Unnamed: 0     Language  Year         Feeling
0           0         Java  1992  BillionDevices
1           1          PHP  1995             Red
2           2  RubyOnRails  1986    RubyAndRails
3           3       Kotlin  1980     JavaBrother