# This file was generated to fetch data of all pokemons

In [3]:
import time
import requests
import pandas as pd

In [6]:
# we use only few urls because i will run this code in google colab, here i just write code
urls = [f'https://pokeapi.co/api/v2/pokemon/{i}' for i in range(327,330)]

fullJsonAllPokemons = []
for url in urls:
    response = requests.get(url)
    fullJsonAllPokemons.append(response.json())

In [3]:
# pokemon_base.csv       

basecsv_data = []

for json in fullJsonAllPokemons:
    if response.status_code == 200:
        basecsv_data.append({
            'id': json['id'],
            'name': json['name'],
            'height': json['height'],
            'weight': json['weight'],
            'species': json['species']['name'],
            'base_experience': json['base_experience'],
            'types': [t['type']['name'] for t in json['types']],
            'abilities': len(json['abilities']),
            'moves_count': len(json['moves']),
            'forms_count': len(json['forms']),
         
        })  # dictionaries will store in this list

      # time.sleep(0.5)  # To respect API rate limits

# Convert to DataFrame
pokemon_base = pd.DataFrame(basecsv_data)
pokemon_base.set_index('id',inplace=True)
pokemon_base

,name,height,weight,species,base_experience,types,abilities,moves_count,forms_count
id,,,,,,,,,
777,togedemaru,3,33,togedemaru,152,"[electric, steel]",3,78,1
778,mimikyu-disguised,2,7,mimikyu,167,"[ghost, fairy]",1,87,1
779,bruxish,9,190,bruxish,166,"[water, psychic]",3,84,1

In [4]:
# pokemon_moves.csv

move_data = []


for data in fullJsonAllPokemons:
    pokemon_id = data['id']
    pokemon_name = data['name']
    move_list = [m['move']['name'] for m in data['moves']]

    move_data.append({
        'pokemon_id': pokemon_id,
        'pokemon_name': pokemon_name,
        'moves': move_list,  # list in one cell
    })

pokemon_moves = pd.DataFrame(move_data)


pokemon_moves.set_index('pokemon_id',inplace=True)
pokemon_moves

,pokemon_name,moves
pokemon_id,,
777,togedemaru,"[tackle, twineedle, pin-missile, hyper-beam, t..."
778,mimikyu-disguised,"[scratch, swords-dance, take-down, hyper-beam,..."
779,bruxish,"[swords-dance, take-down, bite, disable, water..."

In [8]:
# pokemon_abilities.csv

ability_data = []
for data in fullJsonAllPokemons:

    ab1 = None
    ab2 = None
    hidden_ab = None

    for ab in data['abilities']:
        name = ab['ability']['name']
        if ab['is_hidden']:
            hidden_ab = name
        elif ab['slot'] == 1:
            ab1 = name
        elif ab['slot'] == 2:
            ab2 = name
    
    ability_dict = {
        'pokemon_id': data['id'],
        'pokemon_name': data['name'],
        'ability_1': ab1,
        'ability_2': ab2,
        'hidden_ability': hidden_ab
    }

    ability_data.append(ability_dict)

# Convert to DataFrame
pokemon_abilities = pd.DataFrame(ability_data)

# Save if needed
# pokemon_abilities.to_csv("pokemon_abilities.csv", index=False)

# Preview
pokemon_abilities

   pokemon_id       pokemon_name   ability_1      ability_2 hidden_ability
0         777         togedemaru  iron-barbs  lightning-rod         sturdy
1         778  mimikyu-disguised    disguise           None           None
2         779            bruxish    dazzling     strong-jaw    wonder-skin

In [9]:
# forms.csv

form_data = []

for data in fullJsonAllPokemons:
    pokemon_id = data['id']
    pokemon_name = data['name']

    for form in data['forms']:
        form_url = form['url']
        form_response = requests.get(form_url)
        if form_response.status_code != 200:
            continue
        form_details = form_response.json()

        form_entry = {
            'pokemon_id': pokemon_id,
            'pokemon_name': pokemon_name,
            'form_name': form_details['form_name'] or None ,
            'is_default': form_details['is_default'],
            'is_mega': form_details['is_mega'],
            'is_battle_only': form_details['is_battle_only'],
            'form_order': form_details['order'],
            'form_id': form_details['id']
        }

        form_data.append(form_entry)

# Convert to DataFrame
pokemon_forms = pd.DataFrame(form_data)

# Optional: save to CSV
# pokemon_forms.to_csv("pokemon_forms.csv", index=False)

pokemon_forms

,pokemon_id,pokemon_name,form_name,is_default,is_mega,is_battle_only,form_order,form_id
0,327,spinda,None,True,False,False,467,327
1,328,trapinch,None,True,False,False,468,328
2,329,vibrava,None,True,False,False,469,329