[What are DataFrames](https://www.youtube.com/live/OG31yhRQxPI?si=43TM_mXSlIQFqlLq)

In [2]:
import numpy as np
import pandas as pd

# Creating DataFrames

In [3]:
# using lists
languages_perferences = [
    ['Python',1992,'GoldenğŸ’›'],
    ['JS',1995,'WebGodğŸ•¸ï¸'],
    ['C++',1986,'PointersğŸ‘ˆğŸ»ğŸ‘‰ğŸ»ğŸ‘ˆğŸ»ğŸ«µğŸ»ğŸ‘†ğŸ»ğŸ‘‡ğŸ»'],
    ['C',1980,'Creatorâš¡'],
]
pd.DataFrame(languages_perferences,columns=['Language','Year','Feeling'])

  Language  Year               Feeling
0   Python  1992               GoldenğŸ’›
1       JS  1995              WebGodğŸ•¸ï¸
2      C++  1986  PointersğŸ‘ˆğŸ»ğŸ‘‰ğŸ»ğŸ‘ˆğŸ»ğŸ«µğŸ»ğŸ‘†ğŸ»ğŸ‘‡ğŸ»
3        C  1980              Creatorâš¡

In [4]:
# using dictionary
# key will be column name, rows will be values
languages_perferences = {
    'Language': ['Python', 'JS', 'C++', 'C'],
    'Year': [1992, 1995, 1986, 1980],
    'Feeling':['GoldenğŸ’›','WebGodğŸ•¸ï¸','PointersğŸ‘ˆğŸ»ğŸ‘‰ğŸ»ğŸ‘ˆğŸ»ğŸ«µğŸ»ğŸ‘†ğŸ»ğŸ‘‡ğŸ»','Creatorâš¡']
}

pd.DataFrame(languages_perferences)

  Language  Year               Feeling
0   Python  1992               GoldenğŸ’›
1       JS  1995              WebGodğŸ•¸ï¸
2      C++  1986  PointersğŸ‘ˆğŸ»ğŸ‘‰ğŸ»ğŸ‘ˆğŸ»ğŸ«µğŸ»ğŸ‘†ğŸ»ğŸ‘‡ğŸ»
3        C  1980              Creatorâš¡

In [10]:
# for converting dataframe to csv file
# pd.DataFrame(languages_perferences).to_csv('languages_perferences.csv',index=False,sep=',') # for saving in csv file

langs = pd.read_csv(r'languages_perferences.csv')
langs

  Language  Year               Feeling
0   Python  1992               GoldenğŸ’›
1       JS  1995              WebGodğŸ•¸ï¸
2      C++  1986  PointersğŸ‘ˆğŸ»ğŸ‘‰ğŸ»ğŸ‘ˆğŸ»ğŸ«µğŸ»ğŸ‘†ğŸ»ğŸ‘‡ğŸ»
3        C  1980              Creatorâš¡

# DataFrame Attributes and Methods

In [6]:
# shape
langs.shape # means data is divided into 4 rows and 3 columns

(4, 3)

In [7]:
# dtypes
# gives you datatype of each column(series)
langs.dtypes

Language    object
Year         int64
Feeling     object
dtype: object

In [12]:
# index
langs.index

RangeIndex(start=0, stop=4, step=1)

In [13]:
# columns
langs.columns

Index(['Language', 'Year', 'Feeling'], dtype='object')

In [14]:
# values
langs.values # give values of each row

array([['Python', 1992, 'GoldenğŸ’›'],
       ['JS', 1995, 'WebGodğŸ•¸ï¸'],
       ['C++', 1986, 'PointersğŸ‘ˆğŸ»ğŸ‘‰ğŸ»ğŸ‘ˆğŸ»ğŸ«µğŸ»ğŸ‘†ğŸ»ğŸ‘‡ğŸ»'],
       ['C', 1980, 'Creatorâš¡']], dtype=object)

In [18]:
# head and tail 
langs.head(-2) # -2 means last 2 rows will be hidden
# same can be done with tail

  Language  Year   Feeling
0   Python  1992   GoldenğŸ’›
1       JS  1995  WebGodğŸ•¸ï¸

In [22]:
langs.tail(-2) # means 2 above rows will be hidden

  Language  Year               Feeling
2      C++  1986  PointersğŸ‘ˆğŸ»ğŸ‘‰ğŸ»ğŸ‘ˆğŸ»ğŸ«µğŸ»ğŸ‘†ğŸ»ğŸ‘‡ğŸ»
3        C  1980              Creatorâš¡

In [28]:
# sample # 5 random rows
langs.sample(2)

  Language  Year               Feeling
2      C++  1986  PointersğŸ‘ˆğŸ»ğŸ‘‰ğŸ»ğŸ‘ˆğŸ»ğŸ«µğŸ»ğŸ‘†ğŸ»ğŸ‘‡ğŸ»
0   Python  1992               GoldenğŸ’›

In [29]:
# Understand `info` -> https://www.youtube.com/live/OG31yhRQxPI?si=UVygY80TQSqfueu7&t=1471
langs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Language  4 non-null      object
 1   Year      4 non-null      int64
 2   Feeling   4 non-null      object
dtypes: int64(1), object(2)
memory usage: 228.0+ bytes

In [42]:
# describe, is used to extract numerical columns only
langs.describe()

              Year
count     4.000000
mean   1988.250000
std       6.652067
min    1980.000000
25%    1984.500000
50%    1989.000000
75%    1992.750000
max    1995.000000

In [45]:
# isnull, gives a boolean dataframe
print(langs.isnull().sum()) # here sum will add all true values as 1, and give us result of each column, basically sum will sum all columns one by one
langs.isnull()

Language    0
Year        0
Feeling     0
dtype: int64

   Language   Year  Feeling
0     False  False    False
1     False  False    False
2     False  False    False
3     False  False    False

In [ ]:
# duplicated