In [ ]:
# value_counts (series and dataframe) -> https://www.youtube.com/live/zTa4MIrGTIE?si=lJzXh08i8a-sZjMn&t=457
# sort_values (series and dataframe) -> https://www.youtube.com/live/zTa4MIrGTIE?si=Ln2ayAqaxgoLUyWU&t=1657
# rank (series) -> https://www.youtube.com/live/zTa4MIrGTIE?si=C5bVkyZ5y3URWq3k&t=2197
# sort_index (series and dataframe) -> https://www.youtube.com/live/zTa4MIrGTIE?si=CC2yqbX4WRf4ya2t&t=2577
# set_index (dataframe) -> https://www.youtube.com/live/zTa4MIrGTIE?si=xXseRDnoyBgDd7JK&t=2937
# rename -> (series and dataframe)
# reset_index -> (series and dataframe) https://www.youtube.com/live/zTa4MIrGTIE?si=uR5FRVTfJweDPj3D&t=3087
# unique & nunique
# isnull/notnull/hasnans
# dropna
# fillna
# drop_duplicates
# drop
# apply
# isin
# corr
# nlargest -> nsmallest
# insert
# copy

In [39]:
import numpy as np
import pandas as pd

In [40]:

langs = pd.read_csv('languages_perferences.csv')
langs

  Language  Year               Feeling
0   Python  1992               Golden💛
1       JS  1995              WebGod🕸️
2      C++  1986  Pointers👈🏻👉🏻👈🏻🫵🏻👆🏻👇🏻
3        C  1980              Creator⚡

In [41]:
# value_counts (series and dataframe) , so in series it tell how many times each value occur, and in df it tells how many times each row occurs
langs.value_counts()

Language  Year  Feeling
C         1980  Creator⚡                1
C++       1986  Pointers👈🏻👉🏻👈🏻🫵🏻👆🏻👇🏻    1
JS        1995  WebGod🕸️                1
Python    1992  Golden💛                 1
Name: count, dtype: int64

In [42]:

# sort values
langs.sort_values(by='Year',ascending=False) # if we not give by parameter then it will sort by first column by default
# if yourr df has missing values and you wanna sort them then use `na_position='first'` or `na_position='last'` is default

  Language  Year               Feeling
1       JS  1995              WebGod🕸️
0   Python  1992               Golden💛
2      C++  1986  Pointers👈🏻👉🏻👈🏻🫵🏻👆🏻👇🏻
3        C  1980              Creator⚡

In [43]:
# you can also specify by multiple columns, see this example in the video clip ->  https://www.youtube.com/live/zTa4MIrGTIE?si=h0sz8gsWgtqdCguD&t=1877

# here we say if by year(descending) if value is same then sort by language(ascending)
langs.sort_values(by=['Year','Language'],ascending=[False,True])

  Language  Year               Feeling
1       JS  1995              WebGod🕸️
0   Python  1992               Golden💛
2      C++  1986  Pointers👈🏻👉🏻👈🏻🫵🏻👆🏻👇🏻
3        C  1980              Creator⚡

In [44]:
# rank (series) -> https://www.youtube.com/live/zTa4MIrGTIE?si=C5bVkyZ5y3URWq3k&t=2197

langs['rank'] = langs['Year'].rank(ascending=False) # ascending false means highest values comes in top rank
langs

  Language  Year               Feeling  rank
0   Python  1992               Golden💛   2.0
1       JS  1995              WebGod🕸️   1.0
2      C++  1986  Pointers👈🏻👉🏻👈🏻🫵🏻👆🏻👇🏻   3.0
3        C  1980              Creator⚡   4.0

In [45]:
# sort index (series and dataframe) -> https://www.youtube.com/live/zTa4MIrGTIE?si=CC2yqbX4WRf4ya2t&t=2577

langs.sort_index(ascending=False) # sort by index in descending order

  Language  Year               Feeling  rank
3        C  1980              Creator⚡   4.0
2      C++  1986  Pointers👈🏻👉🏻👈🏻🫵🏻👆🏻👇🏻   3.0
1       JS  1995              WebGod🕸️   1.0
0   Python  1992               Golden💛   2.0

In [46]:
# set_index (dataframe) -> https://www.youtube.com/live/zTa4MIrGTIE?si=xXseRDnoyBgDd7JK&t

langs.set_index('Language')

          Year               Feeling  rank
Language
Python    1992               Golden💛   2.0
JS        1995              WebGod🕸️   1.0
C++       1986  Pointers👈🏻👉🏻👈🏻🫵🏻👆🏻👇🏻   3.0
C         1980              Creator⚡   4.0

In [50]:
# rename index -> rename 

langs.rename(index={0:'Py',1:'JS',2:'C++',3:'C'})

    Language  Year               Feeling  rank
Py    Python  1992               Golden💛   2.0
JS        JS  1995              WebGod🕸️   1.0
C++      C++  1986  Pointers👈🏻👉🏻👈🏻🫵🏻👆🏻👇🏻   3.0
C          C  1980              Creator⚡   4.0

In [ ]:
# reset_index -> https://www.youtube.com/live/zTa4MIrGTIE?si=uR5FRVTfJweDPj3D&t=30
langs.rename(index={0:'Py',1:'JS',2:'C++',3:'C'}).reset_index()
# series to dataframe using reset_index(), so we can also use this method to convert series to dataframe, like we do with `to_frame()` method


# how to replace existing index without lossing it -> https://www.youtube.com/live/zTa4MIrGTIE?si=tBcaZvgfg4Vqzn0j&t=3237

  index Language  Year               Feeling  rank
0    Py   Python  1992               Golden💛   2.0
1    JS       JS  1995              WebGod🕸️   1.0
2   C++      C++  1986  Pointers👈🏻👉🏻👈🏻🫵🏻👆🏻👇🏻   3.0
3     C        C  1980              Creator⚡   4.0