In [ ]:
# value_counts (series and dataframe) -> https://www.youtube.com/live/zTa4MIrGTIE?si=lJzXh08i8a-sZjMn&t=457
# sort_values (series and dataframe) -> https://www.youtube.com/live/zTa4MIrGTIE?si=Ln2ayAqaxgoLUyWU&t=1657
# rank (series) -> https://www.youtube.com/live/zTa4MIrGTIE?si=C5bVkyZ5y3URWq3k&t=2197
# sort_index (series and dataframe) -> https://www.youtube.com/live/zTa4MIrGTIE?si=CC2yqbX4WRf4ya2t&t=2577
# set_index (dataframe) -> https://www.youtube.com/live/zTa4MIrGTIE?si=xXseRDnoyBgDd7JK&t=2937
# rename -> (series and dataframe)
# reset_index -> (series and dataframe) https://www.youtube.com/live/zTa4MIrGTIE?si=uR5FRVTfJweDPj3D&t=3087
# unique ->  (series) https://www.youtube.com/live/zTa4MIrGTIE?si=HtI0I4tK4WxbwvEV&t=3707
# nunique -> (series) https://www.youtube.com/live/zTa4MIrGTIE?si=XV5sqkUg0z9DP6Rx&t=3907
# isnull(s and d)/notnull(s and d)/hasnans(s)  -> https://www.youtube.com/live/zTa4MIrGTIE?si=cW8_QtOVLy0ptij0&t=4137
# dropna -> (series and dataframe) ->https://www.youtube.com/live/zTa4MIrGTIE?si=xUYJHm4HZaywRkVC&t=4497
# fillna -> (series and dataframe) -> https://www.youtube.com/live/zTa4MIrGTIE?si=kkLOhQ8N-YsIRXfT&t=5057
#       `----> ffill, bfill,  -> (series and dataframe) -> forward fill, backward fill
# duplicated (series and dataframe) -> https://www.youtube.com/live/zTa4MIrGTIE?si=Ifq1aBzUrmRa9akD&t=5417
# drop_duplicates (series and dataframe) -> https://www.youtube.com/live/zTa4MIrGTIE?si=s608srdGOMkaSnOL&t=5387
# drop
# apply
# isin
# corr
# nlargest -> nsmallest
# insert
# copy

In [4]:
import numpy as np
import pandas as pd

In [5]:

langs = pd.read_csv('languages_perferences.csv')
langs

  Language  Year               Feeling
0   Python  1992               Golden💛
1       JS  1995              WebGod🕸️
2      C++  1986  Pointers👈🏻👉🏻👈🏻🫵🏻👆🏻👇🏻
3        C  1980              Creator⚡

In [6]:
# value_counts (series and dataframe) , so in series it tell how many times each value occur, and in df it tells how many times each row occurs
langs.value_counts()

Language  Year  Feeling
C         1980  Creator⚡                1
C++       1986  Pointers👈🏻👉🏻👈🏻🫵🏻👆🏻👇🏻    1
JS        1995  WebGod🕸️                1
Python    1992  Golden💛                 1
Name: count, dtype: int64

In [7]:

# sort values
langs.sort_values(by='Year',ascending=False) # if we not give by parameter then it will sort by first column by default
# if yourr df has missing values and you wanna sort them then use `na_position='first'` or `na_position='last'` is default

  Language  Year               Feeling
1       JS  1995              WebGod🕸️
0   Python  1992               Golden💛
2      C++  1986  Pointers👈🏻👉🏻👈🏻🫵🏻👆🏻👇🏻
3        C  1980              Creator⚡

In [8]:
# you can also specify by multiple columns, see this example in the video clip ->  https://www.youtube.com/live/zTa4MIrGTIE?si=h0sz8gsWgtqdCguD&t=1877

# here we say if by year(descending) if value is same then sort by language(ascending)
langs.sort_values(by=['Year','Language'],ascending=[False,True])

  Language  Year               Feeling
1       JS  1995              WebGod🕸️
0   Python  1992               Golden💛
2      C++  1986  Pointers👈🏻👉🏻👈🏻🫵🏻👆🏻👇🏻
3        C  1980              Creator⚡

In [9]:
# rank (series) -> https://www.youtube.com/live/zTa4MIrGTIE?si=C5bVkyZ5y3URWq3k&t=2197

langs['rank'] = langs['Year'].rank(ascending=False) # ascending false means highest values comes in top rank
langs

  Language  Year               Feeling  rank
0   Python  1992               Golden💛   2.0
1       JS  1995              WebGod🕸️   1.0
2      C++  1986  Pointers👈🏻👉🏻👈🏻🫵🏻👆🏻👇🏻   3.0
3        C  1980              Creator⚡   4.0

In [10]:
# sort index (series and dataframe) -> https://www.youtube.com/live/zTa4MIrGTIE?si=CC2yqbX4WRf4ya2t&t=2577

langs.sort_index(ascending=False) # sort by index in descending order

  Language  Year               Feeling  rank
3        C  1980              Creator⚡   4.0
2      C++  1986  Pointers👈🏻👉🏻👈🏻🫵🏻👆🏻👇🏻   3.0
1       JS  1995              WebGod🕸️   1.0
0   Python  1992               Golden💛   2.0

In [11]:
# set_index (dataframe) -> https://www.youtube.com/live/zTa4MIrGTIE?si=xXseRDnoyBgDd7JK&t

langs.set_index('Language')

          Year               Feeling  rank
Language
Python    1992               Golden💛   2.0
JS        1995              WebGod🕸️   1.0
C++       1986  Pointers👈🏻👉🏻👈🏻🫵🏻👆🏻👇🏻   3.0
C         1980              Creator⚡   4.0

In [17]:
# rename index -> rename indexes in dataframe

langs.rename(index={0:'Py',1:'JS',2:'C++',3:'C'})

# rename columns in dataframe

langs.rename(columns={'Language':'Language_name','Year':'Year_of_release','rank':'Rank_by_year'})

  Language_name  Year_of_release               Feeling  Rank_by_year
0        Python             1992               Golden💛           2.0
1            JS             1995              WebGod🕸️           1.0
2           C++             1986  Pointers👈🏻👉🏻👈🏻🫵🏻👆🏻👇🏻           3.0
3             C             1980              Creator⚡           4.0

In [14]:
# reset_index -> https://www.youtube.com/live/zTa4MIrGTIE?si=uR5FRVTfJweDPj3D&t=30
langs.rename(index={0:'Py',1:'JS',2:'C++',3:'C'}).reset_index()
# series to dataframe using reset_index(), so we can also use this method to convert series to dataframe, like we do with `to_frame()` method


# how to replace existing index without lossing it -> https://www.youtube.com/live/zTa4MIrGTIE?si=tBcaZvgfg4Vqzn0j&t=3237

  index Language  Year               Feeling  rank
0    Py   Python  1992               Golden💛   2.0
1    JS       JS  1995              WebGod🕸️   1.0
2   C++      C++  1986  Pointers👈🏻👉🏻👈🏻🫵🏻👆🏻👇🏻   3.0
3     C        C  1980              Creator⚡   4.0

In [31]:
# unique ->  (series) https://www.youtube.com/live/zTa4MIrGTIE?si=HtI0I4tK4WxbwvEV&t=3707
series1 = pd.Series([1, 2, 3, 3, 4, 4, 4, 5, 5, 5, 5,np.nan, np.nan]) # will treat all missing values as one
series1.unique() # gives unique values, in list(after removing duplicates)

# series1.drop_duplicates(keep='first') # keep='first' or 'last' or False , same but give in series

array([ 1.,  2.,  3.,  4.,  5., nan])

In [ ]:
# nunique, will tell number of unique values, in series((after removing duplicates)) 
# does not include NaN values
series1.nunique()

5

In [ ]:
# isnull , will true if null otherwise false
langs.isnull()

   Language   Year  Feeling   rank
0     False  False    False  False
1     False  False    False  False
2     False  False    False  False
3     False  False    False  False

In [ ]:
langs.notnull() # same as isnull but opposite, will true if not null otherwise false

   Language  Year  Feeling  rank
0      True  True     True  True
1      True  True     True  True
2      True  True     True  True
3      True  True     True  True

In [43]:
# hasnans, will true if column has even a single missing value otherwise false (works on series only)
langs['Language'].hasnans # means langs['Language'] not any missing values

False

In [ ]:
# dropna -> (series and dataframe) ->https://www.youtube.com/live/zTa4MIrGTIE?si=xUYJHm4HZaywRkVC
# make an dataframe of missing values

# in series it remove all missing values

""" in dataframe it takes `how` parameter (default is 'any' means any row that contains even single missing value will
 be dropped), which , if `how` = all it will drop rows only if all values in that row are missing,
 and `subset` which takes column names (list) and then drop rows where in given columns has missing values
 """

rng = np.random.default_rng(7)
a = rng.random(size=(5,3))
a[1] = np.nan
a[::2,-1] = np.nan
df = pd.DataFrame(a, index=['a', 'c', 'e', 'f', 'h'], columns=['one', 'two', 'three'])
df # will drop rows with any missing values

        one       two     three
a  0.625095  0.897214       NaN
c       NaN       NaN       NaN
e  0.005265  0.821228       NaN
f  0.467935  0.303032  0.278426
h  0.254870  0.445076       NaN

In [88]:
df.dropna(how='all') # will drop rows with all missing values

        one       two     three
a  0.625095  0.897214       NaN
e  0.005265  0.821228       NaN
f  0.467935  0.303032  0.278426
h  0.254870  0.445076       NaN

In [ ]:
df.dropna(subset=['three','one']) # will drop rows where 'three' or 'one' column has missing values,
df.dropna(subset=['three']) # will drop rows where 'three' column has missing values

        one       two     three
f  0.467935  0.303032  0.278426

In [ ]:
df.ffill() # will replace all missing values with previous non-missing value in the same column

        one       two     three
a  0.625095  0.897214       NaN
c  0.625095  0.897214       NaN
e  0.005265  0.821228       NaN
f  0.467935  0.303032  0.278426
h  0.254870  0.445076  0.278426

In [96]:
df.bfill() # will replace all missing values with next non-missing value in the same column

        one       two     three
a  0.625095  0.897214  0.278426
c  0.005265  0.821228  0.278426
e  0.005265  0.821228  0.278426
f  0.467935  0.303032  0.278426
h  0.254870  0.445076       NaN

In [ ]:
df.duplicated() # will return True if row is duplicated otherwise False

a    False
c    False
e    False
f    False
h    False
dtype: bool

In [ ]:
# drop duplicates -> (series and dataframe) 
# drop duplicates remove duplicated rows, 
# param `keep` parameter (default is 'first' means first occurrence of duplicated row will be kept, 
# 'last' means last occurrence will be kept, 
# 'False' means all duplicates will be dropped)