In [3]:
import pandas as pd
import numpy as np

In [4]:
toydata1 = pd.DataFrame({
    'A': ['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'foo'],
    'B': ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
    'C': np.random.randn(8),
    'D': np.random.randn(8)
})


toydata2 = pd.DataFrame({
    'Z': ['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'foo'],
    'A': ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
    'X': np.random.randn(8),
    'W': np.random.randn(8)
})

In [5]:
# so here it concatenates both dataframes into one, and the columns are not in A, stack horizontally as a new columns
#understand pd.concat -> https://www.youtube.com/live/Ssy1EfK5S-o?si=SvBENrR8nhoB7_mq&t=777
pd.concat([toydata1, toydata2],ignore_index=True) 
# axis=1 for stacking horizontally (column-wise) -> https://www.youtube.com/live/Ssy1EfK5S-o?si=lcSNHS-EXiZwLhOP&t=1627

        A      B         C         D    Z         X         W
0     foo    one -1.171776 -0.245078  NaN       NaN       NaN
1     bar    one  0.580768  0.834535  NaN       NaN       NaN
2     foo    two -1.251128 -0.588756  NaN       NaN       NaN
3     bar  three -0.756040  0.349901  NaN       NaN       NaN
4     foo    two -0.417117 -0.674177  NaN       NaN       NaN
5     bar    two  0.662687  1.142651  NaN       NaN       NaN
6     foo    one -0.466778  0.218546  NaN       NaN       NaN
7     foo  three  0.960657  0.112766  NaN       NaN       NaN
8     one    NaN       NaN       NaN  foo -0.092228  0.635147
9     one    NaN       NaN       NaN  bar  1.848593 -0.275971
10    two    NaN       NaN       NaN  foo  0.692652 -0.887629
11  three    NaN       NaN       NaN  bar  0.035987 -0.930013
12    two    NaN       NaN       NaN  foo -0.506135 -1.051784
13    two    NaN       NaN       NaN  bar -1.488256  0.010820
14    one    NaN       NaN       NaN  foo  0.972334  0.514092
15  three    NaN       NaN       NaN  foo -0.052537 -0.229181

In [6]:
# keep original index but ignore_index(understand `multiIndex DataFrame`) -> https://www.youtube.com/live/Ssy1EfK5S-o?si=IhABX3jwrG1CDM7E&t=1227 
pd.concat([toydata1, toydata2],keys=['toydata1','toydata2'])

                A      B         C         D    Z         X         W
toydata1 0    foo    one -1.171776 -0.245078  NaN       NaN       NaN
         1    bar    one  0.580768  0.834535  NaN       NaN       NaN
         2    foo    two -1.251128 -0.588756  NaN       NaN       NaN
         3    bar  three -0.756040  0.349901  NaN       NaN       NaN
         4    foo    two -0.417117 -0.674177  NaN       NaN       NaN
         5    bar    two  0.662687  1.142651  NaN       NaN       NaN
         6    foo    one -0.466778  0.218546  NaN       NaN       NaN
         7    foo  three  0.960657  0.112766  NaN       NaN       NaN
toydata2 0    one    NaN       NaN       NaN  foo -0.092228  0.635147
         1    one    NaN       NaN       NaN  bar  1.848593 -0.275971
         2    two    NaN       NaN       NaN  foo  0.692652 -0.887629
         3  three    NaN       NaN       NaN  bar  0.035987 -0.930013
         4    two    NaN       NaN       NaN  foo -0.506135 -1.051784
         5    two    NaN       NaN       NaN  bar -1.488256  0.010820
         6    one    NaN       NaN       NaN  foo  0.972334  0.514092
         7  three    NaN       NaN       NaN  foo -0.052537 -0.229181

In [7]:
# multindex df indexing -> https://www.youtube.com/live/Ssy1EfK5S-o?si=rf1BY9gX-0n9iUVO&t=1397

pd.concat([toydata1, toydata2],keys=['toydata1','toydata2']).loc['toydata1']

     A      B         C         D    Z   X   W
0  foo    one -1.171776 -0.245078  NaN NaN NaN
1  bar    one  0.580768  0.834535  NaN NaN NaN
2  foo    two -1.251128 -0.588756  NaN NaN NaN
3  bar  three -0.756040  0.349901  NaN NaN NaN
4  foo    two -0.417117 -0.674177  NaN NaN NaN
5  bar    two  0.662687  1.142651  NaN NaN NaN
6  foo    one -0.466778  0.218546  NaN NaN NaN
7  foo  three  0.960657  0.112766  NaN NaN NaN

In [8]:
# pd.merge (inner/outer/left/right join) -> https://www.youtube.com/live/Ssy1EfK5S-o?si=xgr-ZrHeTzmPVmcw&t=1847
toydata4 = pd.DataFrame({
    'key': ['foo1', 'foo2', 'bar'],
    'lval': [1, 2, 3]
})

toydata5 = pd.DataFrame({
    'key': ['foo1', 'bar', 'foo2','outlier'],
    'rval': [7,4, 5, 6]
})

In [9]:
# inner join/join -> https://www.youtube.com/live/Ssy1EfK5S-o?si=b0DxCV3P5BURhWAe&t=1987
# Make good toydataset for understanding pd.merge 
toydata4.merge(toydata5, on='key', how='inner') # default is inner join
# so we get only those values in new df, that are present in both dataframes(key column), and the rest are dropped

    key  lval  rval
0  foo1     1     7
1  foo2     2     5
2   bar     3     4

In [14]:
# left join -> https://www.youtube.com/live/Ssy1EfK5S-o?si=NGoZSUpGgjZBe7CF&t=2797
toydata4.merge(toydata4, on='key', how='left') # left join

    key  lval_x  lval_y
0  foo1       1       1
1  foo2       2       2
2   bar       3       3

In [15]:
# right join -> 
toydata4.merge(toydata5, on='key', how='right') # right join

       key  lval  rval
0     foo1   1.0     7
1      bar   3.0     4
2     foo2   2.0     5
3  outlier   NaN     6