In [2]:
import pandas as pd
import numpy as np

In [27]:
toydata1 = pd.DataFrame({
    'A': ['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'foo'],
    'B': ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
    'C': np.random.randn(8),
    'D': np.random.randn(8)
})


toydata2 = pd.DataFrame({
    'Z': ['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'foo'],
    'A': ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
    'X': np.random.randn(8),
    'W': np.random.randn(8)
})

In [4]:
# so here it concatenates both dataframes into one, and the columns are not in A, stack horizontally as a new columns
#understand pd.concat -> https://www.youtube.com/live/Ssy1EfK5S-o?si=SvBENrR8nhoB7_mq&t=777
pd.concat([toydata1, toydata2],ignore_index=True) # ignore_index(no longer maintains the original index) 
# axis=1 for stacking horizontally (column-wise) -> https://www.youtube.com/live/Ssy1EfK5S-o?si=lcSNHS-EXiZwLhOP&t=1627

        A      B         C         D    Z         X         W
0     foo    one  1.480351 -1.279658  NaN       NaN       NaN
1     bar    one  0.547338 -0.482806  NaN       NaN       NaN
2     foo    two  0.369443  1.131294  NaN       NaN       NaN
3     bar  three  0.115991  0.974009  NaN       NaN       NaN
4     foo    two  1.904026  0.859663  NaN       NaN       NaN
5     bar    two  0.875021 -0.480411  NaN       NaN       NaN
6     foo    one  0.396864 -1.843192  NaN       NaN       NaN
7     foo  three -0.264745  1.504665  NaN       NaN       NaN
8     one    NaN       NaN       NaN  foo -0.022617  0.197521
9     one    NaN       NaN       NaN  bar  3.413872  0.315177
10    two    NaN       NaN       NaN  foo  1.563888  0.630272
11  three    NaN       NaN       NaN  bar  1.341677  0.411481
12    two    NaN       NaN       NaN  foo  0.449146  0.362640
13    two    NaN       NaN       NaN  bar  0.261362  0.328118
14    one    NaN       NaN       NaN  foo -1.993719  0.382397
15  three    NaN       NaN       NaN  foo -0.258645 -0.446604

In [ ]:
# keep original index but ignore_index(understand `multiIndex DataFrame`) -> https://www.youtube.com/live/Ssy1EfK5S-o?si=IhABX3jwrG1CDM7E&t=1227 
pd.concat([toydata1, toydata2],keys=['toydata1','toydata2'])

                A      B         C         D    Z         X         W
toydata1 0    foo    one  1.480351 -1.279658  NaN       NaN       NaN
         1    bar    one  0.547338 -0.482806  NaN       NaN       NaN
         2    foo    two  0.369443  1.131294  NaN       NaN       NaN
         3    bar  three  0.115991  0.974009  NaN       NaN       NaN
         4    foo    two  1.904026  0.859663  NaN       NaN       NaN
         5    bar    two  0.875021 -0.480411  NaN       NaN       NaN
         6    foo    one  0.396864 -1.843192  NaN       NaN       NaN
         7    foo  three -0.264745  1.504665  NaN       NaN       NaN
toydata2 0    one    NaN       NaN       NaN  foo -0.022617  0.197521
         1    one    NaN       NaN       NaN  bar  3.413872  0.315177
         2    two    NaN       NaN       NaN  foo  1.563888  0.630272
         3  three    NaN       NaN       NaN  bar  1.341677  0.411481
         4    two    NaN       NaN       NaN  foo  0.449146  0.362640
         5    two    NaN       NaN       NaN  bar  0.261362  0.328118
         6    one    NaN       NaN       NaN  foo -1.993719  0.382397
         7  three    NaN       NaN       NaN  foo -0.258645 -0.446604

In [29]:
pd.concat([toydata1, toydata2],keys=['toydata1','toydata2']).reset_index() # reset_index() to get the original index back

,level_0,level_1,A,B,C,D,Z,X,W
0,toydata1,0,foo,one,1.766120,0.184047,NaN,NaN,NaN
1,toydata1,1,bar,one,-0.646661,0.569557,NaN,NaN,NaN
2,toydata1,2,foo,two,1.183113,0.211394,NaN,NaN,NaN
3,toydata1,3,bar,three,-0.190002,1.600005,NaN,NaN,NaN
4,toydata1,4,foo,two,-0.554809,-0.163631,NaN,NaN,NaN
5,toydata1,5,bar,two,0.400261,-0.315315,NaN,NaN,NaN
6,toydata1,6,foo,one,1.833420,2.027002,NaN,NaN,NaN
7,toydata1,7,foo,three,-0.485398,-1.207000,NaN,NaN,NaN
8,toydata2,0,one,NaN,NaN,NaN,foo,-0.360640,-1.744205
9,toydata2,1,one,NaN,NaN,NaN,bar,-1.741736,0.419774
10,toydata2,2,two,NaN,NaN,NaN,foo,0.809670,-0.100697
11,toydata2,3,three,NaN,NaN,NaN,bar,1.137192,-0.729257
12,toydata2,4,two,NaN,NaN,NaN,foo,-0.264835,1.232126
13,toydata2,5,two,NaN,NaN,NaN,bar,0.632621,0.536502
14,toydata2,6,one,NaN,NaN,NaN,foo,0.180815,1.543112
15,toydata2,7,three,NaN,NaN,NaN,foo,1.259606,0.746717

In [ ]:
# multindex df indexing -> https://www.youtube.com/live/Ssy1EfK5S-o?si=rf1BY9gX-0n9iUVO&t=1397

pd.concat([toydata1, toydata2],keys=['toydata1','toydata2']).loc['toydata1']

     A      B         C         D    Z   X   W
0  foo    one  0.538494  0.138994  NaN NaN NaN
1  bar    one -0.011111 -1.165477  NaN NaN NaN
2  foo    two  0.269529  0.977860  NaN NaN NaN
3  bar  three -0.084720 -0.503298  NaN NaN NaN
4  foo    two -0.815800 -0.476002  NaN NaN NaN
5  bar    two  0.388684  0.902396  NaN NaN NaN
6  foo    one  1.523932 -1.651479  NaN NaN NaN
7  foo  three  0.818904 -0.263374  NaN NaN NaN

In [ ]:
# pd.merge (inner/outer/left/right join) -> https://www.youtube.com/live/Ssy1EfK5S-o?si=xgr-ZrHeTzmPVmcw&t=1847
toydata4 = pd.DataFrame({
    'key': ['foo1', 'foo2', 'bar'],
    'lval': [1, 2, 3]
})

toydata5 = pd.DataFrame({
    'key': ['foo1', 'bar', 'foo2','outlier'],
    'rval': [7,4, 5, 6]
})

In [12]:
# inner join/join -> https://www.youtube.com/live/Ssy1EfK5S-o?si=b0DxCV3P5BURhWAe&t=1987
# Make good toydataset for understanding pd.merge 
toydata4.merge(toydata5, on='key', how='inner') # default is inner join
# so we get only those values in new df, that are present in both dataframes(key column), and the rest are dropped

    key  lval  rval
0  foo1     1     7
1  foo2     2     5
2   bar     3     4

In [13]:
# left join -> https://www.youtube.com/live/Ssy1EfK5S-o?si=NGoZSUpGgjZBe7CF&t=2797
toydata5.merge(toydata4, on='key', how='left') 
# left join, means all values from left dataframe are present in new df, and the rest are dropped

       key  rval  lval
0     foo1     7   1.0
1      bar     4   3.0
2     foo2     5   2.0
3  outlier     6   NaN

In [ ]:
# right join -> 
toydata4.merge(toydata5, on='key', how='right') 
# right join, means all values from right dataframe are present in new df, and the rest are dropped

       key  lval  rval
0     foo1   1.0     7
1      bar   3.0     4
2     foo2   2.0     5
3  outlier   NaN     6

In [23]:
toydata5

       key  rval
0     foo1     7
1      bar     4
2     foo2     5
3  outlier     6

In [ ]:
# outet join/full join -> https://www.youtube.com/live/Ssy1EfK5S-o?si=tFIhllpzMeGdeDVO&t=3407
toydata7 = pd.DataFrame({
    'key': ['foo1', 'foo2', 'bar','outlier2'],
    'lval2': [1, 2, 3, 4]
})
toydata5.merge(toydata7, on='key', how='outer') 
# so we get all values from both dataframes, irrespective of the fact they exist in each other or not

        key  rval  lval2
0       bar   4.0    3.0
1      foo1   7.0    1.0
2      foo2   5.0    2.0
3   outlier   6.0    NaN
4  outlier2   NaN    4.0