# Proof of Series is 1d and datframe is 2d

In [31]:
# https://www.youtube.com/live/QzoRUwz8DoM?si=XHO68I1HnUD5tsWZ&t=847

In [32]:
import pandas as pd
import numpy as np

# Having multiple index in series

In [33]:
index_val = [('cse',2019), ('csed',2020), ('ecse',2021), ('csed',2022), ('cse',2023),('rcse',2024), ('csed',2025)]
series = pd.Series(np.random.randint(1,100,7), index=index_val)
print(series)
print('------------------------')
print(series[('csed', 2025)])

(cse, 2019)     41
(csed, 2020)    91
(ecse, 2021)    77
(csed, 2022)    63
(cse, 2023)     78
(rcse, 2024)    27
(csed, 2025)    86
dtype: int32
------------------------
86

In [34]:
# Why making multindex series in this way is not a good option ? -> https://www.youtube.com/live/QzoRUwz8DoM?si=ykdCCJD2x3T0JRqY&t=1187

In [35]:
# The correct way of making multindex series is to use `pd.MultiIndex.from_tuples` or pd.MultiIndex.from_product` -> 
# https://www.youtube.com/live/QzoRUwz8DoM?si=tAYvRJUTiSWxtSFO&t=1247

In [68]:
# 1. Using `pd.MultiIndex.from_tuples` to create a multi-index series

index_val = [('cse',2019), ('csed',2020), ('ecse',2021), ('csed',2022), ('cse',2023),('rcse',2024), ('csed',2025)]
multi_index1 = pd.MultiIndex.from_tuples(index_val)
print(multi_index1)
print(multi_index1.levels)
print(multi_index1.levels[0])
print(multi_index1.levels[1])

MultiIndex([( 'cse', 2019),
            ('csed', 2020),
            ('ecse', 2021),
            ('csed', 2022),
            ( 'cse', 2023),
            ('rcse', 2024),
            ('csed', 2025)],
           )
[['cse', 'csed', 'ecse', 'rcse'], [2019, 2020, 2021, 2022, 2023, 2024, 2025]]
Index(['cse', 'csed', 'ecse', 'rcse'], dtype='object')
Index([2019, 2020, 2021, 2022, 2023, 2024, 2025], dtype='int64')

In [88]:
# 2. Using `pd.MultiIndex.from_product` to create a multi-index series
# so it give each column(first element of list, means first tuple ) , each value of second element of list (means second tuple)

index_val =  [('cse', 'csed', 'ecse', 'rcse'), (2024, 2025)]
multi_index2 = pd.MultiIndex.from_product(index_val)
print(multi_index2)

print(multi_index2.levels)

MultiIndex([( 'cse', 2024),
            ( 'cse', 2025),
            ('csed', 2024),
            ('csed', 2025),
            ('ecse', 2024),
            ('ecse', 2025),
            ('rcse', 2024),
            ('rcse', 2025)],
           )
[['cse', 'csed', 'ecse', 'rcse'], [2024, 2025]]

In [61]:
# creating a series with multindex object that we make above
rng = np.random.default_rng(77) # for reproducibility
multiIndex = pd.Series(rng.integers(1,100,8), index=multi_index2)
# so its like a hierarical tree structure, see -> https://www.youtube.com/live/QzoRUwz8DoM?si=HVVyVHUMJJw-WmjA&t=1547
multiIndex

cse   2024     6
      2025    78
csed  2024    63
      2025    55
ecse  2024    79
      2025    25
rcse  2024    86
      2025    34
dtype: int64

In [64]:
# how to fetch items from multiIndex series ?
multiIndex.loc[('csed')] # so it will give all the values of cse in 2024

2024    63
2025    55
dtype: int64

In [ ]:
multiIndex.loc[('csed',2025)] # so it will give all the values of cse in 2024

np.int64(55)

In [66]:
# multindex series to dataframe using 
# `unstack` method
multiIndex.unstack() # so it will give the values of cse in 2024 and 2025 in a dataframe format

      2024  2025
cse      6    78
csed    63    55
ecse    79    25
rcse    86    34

In [73]:
pd.Series(index=multi_index1, data=[1,2,3,4,5,6,7]) # so it will give the values of cse in 2024 and 2025 in a dataframe format

cse   2019    1
csed  2020    2
ecse  2021    3
csed  2022    4
cse   2023    5
rcse  2024    6
csed  2025    7
dtype: int64

In [86]:
# multindex series to dataframe, using `unstack` method

pd.Series(index=multi_index1, data=[1,2,3,4,5,6,7]).unstack() # so it will give the values of cse in 2024 and 2025 in a dataframe format

      2019  2020  2021  2022  2023  2024  2025
cse    1.0   NaN   NaN   NaN   5.0   NaN   NaN
csed   NaN   2.0   NaN   4.0   NaN   NaN   7.0
ecse   NaN   NaN   3.0   NaN   NaN   NaN   NaN
rcse   NaN   NaN   NaN   NaN   NaN   6.0   NaN

In [84]:
# dataframe to multindex series using `stack` method
pd.Series(index=multi_index1, data=[1,2,3,4,5,6,7]).unstack().stack()

cse   2019    1.0
      2023    5.0
csed  2020    2.0
      2022    4.0
      2025    7.0
ecse  2021    3.0
rcse  2024    6.0
dtype: float64

## [But Why to use multi index series? ðŸ¤”](https://www.youtube.com/live/QzoRUwz8DoM?si=7RidvYCQQtHNAuqQ&t=2017)