# Proof of Series is 1d and datframe is 2d

In [3]:
# https://www.youtube.com/live/QzoRUwz8DoM?si=XHO68I1HnUD5tsWZ&t=847

In [4]:
import pandas as pd
import numpy as np

# Having multiple index in series

In [5]:
index_val = [('cse',2019), ('csed',2020), ('ecse',2021), ('csed',2022), ('cse',2023),('rcse',2024), ('csed',2025)]
series = pd.Series(np.random.randint(1,100,7), index=index_val)
print(series)
print('|------------------------|')
print(series[('csed', 2025)])

(cse, 2019)     36
(csed, 2020)    70
(ecse, 2021)     2
(csed, 2022)    45
(cse, 2023)     75
(rcse, 2024)    83
(csed, 2025)     1
dtype: int32
|------------------------|
1

In [6]:
# Why making multindex series in this way is not a good option ? -> https://www.youtube.com/live/QzoRUwz8DoM?si=ykdCCJD2x3T0JRqY&t=1187
# because we can't access by single index like for example: Only `csed` or `2025`

In [7]:
# The correct way of making multindex series is to use `pd.MultiIndex.from_tuples` or pd.MultiIndex.from_product` -> 
# https://www.youtube.com/live/QzoRUwz8DoM?si=tAYvRJUTiSWxtSFO&t=1247

In [8]:
# 1. Using `pd.MultiIndex.from_tuples` to create a multi-index series

index_val = [('cse',2019), ('csed',2020), ('ecse',2021), ('csed',2022), ('cse',2023),('rcse',2024), ('csed',2025)]
multi_index1 = pd.MultiIndex.from_tuples(index_val)
print(multi_index1)
print(multi_index1.levels) # level gives all the unique values in the 
print(multi_index1.levels[0])
print(multi_index1.levels[1])

MultiIndex([( 'cse', 2019),
            ('csed', 2020),
            ('ecse', 2021),
            ('csed', 2022),
            ( 'cse', 2023),
            ('rcse', 2024),
            ('csed', 2025)],
           )
[['cse', 'csed', 'ecse', 'rcse'], [2019, 2020, 2021, 2022, 2023, 2024, 2025]]
Index(['cse', 'csed', 'ecse', 'rcse'], dtype='object')
Index([2019, 2020, 2021, 2022, 2023, 2024, 2025], dtype='int64')

In [9]:
# 2. Using `pd.MultiIndex.from_product` to create a multi-index series
# so it will associate each value in the first list with all the values in the second list

index_val =  [('cse', 'csed', 'ecse', 'rcse'), (2024, 2025)]
multi_index2 = pd.MultiIndex.from_product(index_val)
print(multi_index2)

print(multi_index2.levels)

MultiIndex([( 'cse', 2024),
            ( 'cse', 2025),
            ('csed', 2024),
            ('csed', 2025),
            ('ecse', 2024),
            ('ecse', 2025),
            ('rcse', 2024),
            ('rcse', 2025)],
           )
[['cse', 'csed', 'ecse', 'rcse'], [2024, 2025]]

In [10]:
# creating a series with multindex object that we make above
rng = np.random.default_rng(77) # for reproducibility
multiIndex = pd.Series(rng.integers(1,100,8), index=multi_index2)
# so its like a hierarical tree structure, see -> https://www.youtube.com/live/QzoRUwz8DoM?si=HVVyVHUMJJw-WmjA&t=1547
multiIndex

cse   2024     6
      2025    78
csed  2024    63
      2025    55
ecse  2024    79
      2025    25
rcse  2024    86
      2025    34
dtype: int64

In [11]:
# how to fetch items from multiIndex series ?
multiIndex.loc[('csed')] # so it will give all the values of cse in 2024

2024    63
2025    55
dtype: int64

In [12]:
multiIndex.loc[('csed',2025)] # so it will give all the values of cse in 2024

np.int64(55)

In [13]:
# multindex series to dataframe using 
# `unstack` method
multiIndex.unstack()
# so it will give the values of `cse`,`csed`,`ecse`,`rcse` of 2024 and 2025 in a dataframe format

      2024  2025
cse      6    78
csed    63    55
ecse    79    25
rcse    86    34

In [14]:
pd.Series(index=multi_index1, data=[1,2,3,4,5,6,7]) # so it will give the values of cse in 2024 and 2025 in a dataframe format

cse   2019    1
csed  2020    2
ecse  2021    3
csed  2022    4
cse   2023    5
rcse  2024    6
csed  2025    7
dtype: int64

In [15]:
# multindex series to dataframe, using `unstack` method

pd.Series(index=multi_index1, data=[1,2,3,4,5,6,7]).unstack() # so it will give the values of cse in 2024 and 2025 in a dataframe format

      2019  2020  2021  2022  2023  2024  2025
cse    1.0   NaN   NaN   NaN   5.0   NaN   NaN
csed   NaN   2.0   NaN   4.0   NaN   NaN   7.0
ecse   NaN   NaN   3.0   NaN   NaN   NaN   NaN
rcse   NaN   NaN   NaN   NaN   NaN   6.0   NaN

In [16]:
# dataframe to multindex series using `stack` method
pd.Series(index=multi_index1, data=[1,2,3,4,5,6,7]).unstack().stack()

# Note: stack() and unstack() method explain in detail in below section

cse   2019    1.0
      2023    5.0
csed  2020    2.0
      2022    4.0
      2025    7.0
ecse  2021    3.0
rcse  2024    6.0
dtype: float64

## [But Why to use multi index series? 🤔](https://www.youtube.com/live/QzoRUwz8DoM?si=7RidvYCQQtHNAuqQ&t=2017)

## multiIndex dataframes

In [17]:
# multindex dataframes -> https://www.youtube.com/live/QzoRUwz8DoM?si=3ITFbPdL4nivLYYH&t=2137

In [18]:
multi_index1

MultiIndex([( 'cse', 2019),
            ('csed', 2020),
            ('ecse', 2021),
            ('csed', 2022),
            ( 'cse', 2023),
            ('rcse', 2024),
            ('csed', 2025)],
           )

In [19]:
branch_df1 = pd.DataFrame(
    [
        [1, 2, 3],
        [4, 5, 6],
        [7, 8, 9],
        [10, 11, 12],
        [13, 14, 15],
        [16, 17, 18],
        [19, 20, 21],
    ],
    index = multi_index1,
    columns= ['avg_package', 'avg_salary', 'avg_ability']
)
branch_df1.info(verbose=True, show_counts=True)
branch_df1

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 7 entries, ('cse', np.int64(2019)) to ('csed', np.int64(2025))
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   avg_package  7 non-null      int64
 1   avg_salary   7 non-null      int64
 2   avg_ability  7 non-null      int64
dtypes: int64(3)
memory usage: 774.0+ bytes

           avg_package  avg_salary  avg_ability
cse  2019            1           2            3
csed 2020            4           5            6
ecse 2021            7           8            9
csed 2022           10          11           12
cse  2023           13          14           15
rcse 2024           16          17           18
csed 2025           19          20           21

In [20]:
# 1 important thing about indexes and columns in multindexes dataframes, is that pandas not treat indexes and columns as a single entity, so we can access them separately
# https://www.youtube.com/live/QzoRUwz8DoM?si=0VRVHTmiM_JLRkeu&t=2417
# so we can also make dataframe where columns will have hierarchical structure

In [21]:
# multiindex df from columns perspective -> https://www.youtube.com/live/QzoRUwz8DoM?si=adFShaAS0Dqztlmn&t=2547
branch_df2 = pd.DataFrame(
    [
        [1, 2, 10, 2],
        [3, 4, 0, 0],
        [5, 6, 10, 1],
        [7, 8, 0, 0],
    ],
    index = [2019, 2020, 2021, 2022],
    columns = pd.MultiIndex.from_product([['delhi', 'mumbai'], ['avg_package', 'students']])
)

branch_df2

           delhi               mumbai
     avg_package students avg_package students
2019           1        2          10        2
2020           3        4           0        0
2021           5        6          10        1
2022           7        8           0        0

In [22]:
branch_df2['delhi','avg_package']

2019    1
2020    3
2021    5
2022    7
Name: (delhi, avg_package), dtype: int64

In [23]:
branch_df2.loc[2022] # so we get multiIndex series

delhi   avg_package    7
        students       8
mumbai  avg_package    0
        students       0
Name: 2022, dtype: int64

In [24]:
multi_index1

MultiIndex([( 'cse', 2019),
            ('csed', 2020),
            ('ecse', 2021),
            ('csed', 2022),
            ( 'cse', 2023),
            ('rcse', 2024),
            ('csed', 2025)],
           )

In [25]:
# MultiIndex in terms of both rows and columns

branch_df3 = pd.DataFrame(
    data = [
        [1, 2, 10, 2], # we give 8 rows because we have 8 rows in total (in `multi_index1`), and we give 4 columns because we have 4 columns in total 
        [3, 4, 0, 0],
        [5, 6, 10, 1],
        [7, 8, 0, 0],
        [9, 10, 0, 0],
        [11, 12, 0, 0],
        [13, 14, 0, 0],
    ],
    index = multi_index1,
    columns = pd.MultiIndex.from_product([['delhi', 'mumbai'], ['avg_package', 'students']])
)
branch_df3

                delhi               mumbai
          avg_package students avg_package students
cse  2019           1        2          10        2
csed 2020           3        4           0        0
ecse 2021           5        6          10        1
csed 2022           7        8           0        0
cse  2023           9       10           0        0
rcse 2024          11       12           0        0
csed 2025          13       14           0        0

In [26]:
branch_df3['delhi']['avg_package']['cse'][2019] # so we can say its 4d data(because we 4 indexes to reach a single value) represented in lower dimension(2d) `dataframe`

np.int64(1)

## Stacking and unstacking in detail(dataframe methods)

In [27]:

branch_df4 = pd.DataFrame(
        data = [
        [1,2],
        [3,4],
        [5,6],
        [7,8],
        [9,10],
        [11,12],
        [13,14],
        [15,16],
        ],
        index = pd.MultiIndex.from_product([['cse','ece'], [2019, 2020, 2021, 2022]]),
        columns = ['avg_package', 'students']
    )
# -> 
branch_df4

          avg_package  students
cse 2019            1         2
    2020            3         4
    2021            5         6
    2022            7         8
ece 2019            9        10
    2020           11        12
    2021           13        14
    2022           15        16

In [28]:
# explaanation of what happens on unstack() call on branch_df4 -> https://www.youtube.com/live/QzoRUwz8DoM?si=-ZuQRphEo_AlkBme&t=3027

branch_df4.unstack()

    avg_package                students
           2019 2020 2021 2022     2019 2020 2021 2022
cse           1    3    5    7        2    4    6    8
ece           9   11   13   15       10   12   14   16

In [29]:
# Exaplanation of what happens when unstack calls 2 times on branch_df4 - https://www.youtube.com/live/QzoRUwz8DoM?si=jYpMl2Hd-_nsyF89&t=3227
branch_df4.unstack().unstack()
# from this what we observe is, that `unstack` keeps convert index(last index first) into columns(nested inside previous columns)

avg_package  2019  cse     1
                   ece     9
             2020  cse     3
                   ece    11
             2021  cse     5
                   ece    13
             2022  cse     7
                   ece    15
students     2019  cse     2
                   ece    10
             2020  cse     4
                   ece    12
             2021  cse     6
                   ece    14
             2022  cse     8
                   ece    16
dtype: int64

In [30]:
branch_df4

          avg_package  students
cse 2019            1         2
    2020            3         4
    2021            5         6
    2022            7         8
ece 2019            9        10
    2020           11        12
    2021           13        14
    2022           15        16

In [31]:
# now we will do opposite, means `stack` -> https://www.youtube.com/live/QzoRUwz8DoM?si=K2Fo8VB-be616Mjg&t=3417
# so stack converts columns into indexes, and it will keep converting columns into indexes(last column first) until all columns are converted into indexes
branch_df4.stack()

cse  2019  avg_package     1
           students        2
     2020  avg_package     3
           students        4
     2021  avg_package     5
           students        6
     2022  avg_package     7
           students        8
ece  2019  avg_package     9
           students       10
     2020  avg_package    11
           students       12
     2021  avg_package    13
           students       14
     2022  avg_package    15
           students       16
dtype: int64

In [32]:
""" And one thing more we observe is that if all the columns or rows are converting into indexes or columns respectively, 
then it will convert into a series, automatically """

' And one thing more we observe is that if all the columns or rows are converting into indexes or columns respectively, \nthen it will convert into a series, automatically '

In [33]:
# so what we done till now in this section, is that :
# 1. First we represent higher dimension data in lower dimension using dataframe(2d)
""" 2. And then we deciding(using `stack` and `unstack` methods)  how much row(we can say index too) will handle, 
and how much column will handle  """

' 2. And then we deciding(using `stack` and `unstack` methods)  how much row(we can say index too) will handle, \nand how much column will handle  '

## Wroking with multi-index dataframes
- [See this video to learn the topics realted to this section](https://www.youtube.com/live/QzoRUwz8DoM?si=gzsSAlxxWBmmIm9k&t=4137)

In [35]:

# first we will make 4d dataframe
branch_df5 = pd.DataFrame(
    data=[
        [1,2,0,0],
        [3,4,0,0],
        [5,6,0,0],
        [7,8,0,0],
        [9,10,0,0],
        [11,12,0,0],
        [13,14,0,0],
        [15,16,0,0],
    ],
    index = pd.MultiIndex.from_product([['cse','ece'], [2019, 2020, 2021, 2022]]),
    columns = pd.MultiIndex.from_product([['delhi','mumbai'], ['avg_package', 'students']])
)
branch_df5

               delhi               mumbai
         avg_package students avg_package students
cse 2019           1        2           0        0
    2020           3        4           0        0
    2021           5        6           0        0
    2022           7        8           0        0
ece 2019           9       10           0        0
    2020          11       12           0        0
    2021          13       14           0        0
    2022          15       16           0        0

In [ ]:
# head and tail -> https://www.youtube.com/live/QzoRUwz8DoM?si=PoBJPrbyw4JkLU20&t=4097
branch_df5.head(5) # so it will give first 5 rows, btw 5 inside head an tail is by default

               delhi               mumbai
         avg_package students avg_package students
cse 2019           1        2           0        0
    2020           3        4           0        0
    2021           5        6           0        0
    2022           7        8           0        0
ece 2019           9       10           0        0

In [ ]:
# shape -> https://www.youtube.com/live/QzoRUwz8DoM?si=Z5wzEvpiSGrFFZor&t=4117
branch_df5.shape # remember we said that we convert higher dimension data into lower dimension, here in 8 rows and 4 columns,
""" so we have 32 values in total, so shape will be (8,4) but if we see the shape of `branch_df5` it is (8,4) but it has 32 values in total,
so we can say that it is a 4d data represented in dataframe
"""

(8, 4)

In [ ]:
# info() -> https://www.youtube.com/live/QzoRUwz8DoM?si=Qs8EU_i5-8Gr6DJ1&t=4137
branch_df5.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 8 entries, ('cse', np.int64(2019)) to ('ece', np.int64(2022))
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   (delhi, avg_package)   8 non-null      int64
 1   (delhi, students)      8 non-null      int64
 2   (mumbai, avg_package)  8 non-null      int64
 3   (mumbai, students)     8 non-null      int64
dtypes: int64(4)
memory usage: 632.0+ bytes

In [ ]:
# duplication check -> https://www.youtube.com/live/QzoRUwz8DoM?si=BBPWzrdn4SVTqPZy&t=4197
branch_df5.duplicated() # so it will give the boolean values of each row, if it is duplicated or not

cse  2019    False
     2020    False
     2021    False
     2022    False
ece  2019    False
     2020    False
     2021    False
     2022    False
dtype: bool

In [ ]:
# isnull() -> https://www.youtube.com/live/QzoRUwz8DoM?si=NPi9ks0oVDcSf3kH&t=4207
branch_df5.isnull() # so it will give the boolean values of each row and column, if it is null or not

               delhi               mumbai
         avg_package students avg_package students
cse 2019       False    False       False    False
    2020       False    False       False    False
    2021       False    False       False    False
    2022       False    False       False    False
ece 2019       False    False       False    False
    2020       False    False       False    False
    2021       False    False       False    False
    2022       False    False       False    False

In [ ]:
# extracting rows single -> https://www.youtube.com/live/QzoRUwz8DoM?si=0IcDdhBX63VtCZTn&t=4267
branch_df5.loc['cse'].loc[2022] # or pass in tuple
branch_df5.loc[('cse',2022)] # so it same as what we do in above line

np.int64(8)

In [59]:
branch_df5

               delhi               mumbai
         avg_package students avg_package students
cse 2019           1        2           0        0
    2020           3        4           0        0
    2021           5        6           0        0
    2022           7        8           0        0
ece 2019           9       10           0        0
    2020          11       12           0        0
    2021          13       14           0        0
    2022          15       16           0        0

In [ ]:
# let;s go more specific, we wanna find average package of ece of delhi , in 2022
# se we go from less specific to more specific and specific
branch_df5.loc[('ece',2022),('delhi','avg_package')]

np.int64(15)

In [ ]:
# multiple
branch_df5.iloc[:5:2]
# you can do same with loc -> https://www.youtube.com/live/QzoRUwz8DoM?si=An5qUFCtEsCDQOWb&t=4407

               delhi               mumbai
         avg_package students avg_package students
cse 2019           1        2           0        0
    2021           5        6           0        0
ece 2019           9       10           0        0

In [ ]:
branch_df5.loc[('cse',2019): ('ece',2019):2]
 # But Note: unlike `iloc` indexing, `loc` indexing is inclusive, so it will include the last index too

               delhi               mumbai
         avg_package students avg_package students
cse 2019           1        2           0        0
    2021           5        6           0        0
ece 2019           9       10           0        0

In [ ]:
# Extracting cols
# extract only `delhi` column
branch_df5['delhi']

          avg_package  students
cse 2019            1         2
    2020            3         4
    2021            5         6
    2022            7         8
ece 2019            9        10
    2020           11        12
    2021           13        14
    2022           15        16

In [83]:
branch_df5.iloc[:,1:3]

            delhi      mumbai
         students avg_package
cse 2019        2           0
    2020        4           0
    2021        6           0
    2022        8           0
ece 2019       10           0
    2020       12           0
    2021       14           0
    2022       16           0

In [ ]:
# let's do indexing in both rows and columns
branch_df5.iloc[:5:4,1:3] # with fancy indexing `branch_df5.iloc[[0,4],[1,2]]`

            delhi      mumbai
         students avg_package
cse 2019        2           0
ece 2019       10           0

In [ ]:
# sort index