[See this video to understand the concept of, `date and time in pandas`](https://www.youtube.com/live/UE6DmRQJ2w8?si=7m2ubkCtatmLLj6u&t=4257)

In [1]:
import numpy as np
import pandas as pd

# TimeStamp Object

In [2]:
# TimeStamp Object -> https://www.youtube.com/live/UE6DmRQJ2w8?si=lLCXcE57CtRSTlz7&t=4557

In [3]:
# pd.Timestamp() # let's you create TimeStamp objects 
ts1 =  pd.Timestamp('2025/1/1') # Creating a TimeStamp object for January 1, 2025
ts1

Timestamp('2025-01-01 00:00:00')

In [4]:

print(ts1.weekday())  # Now you cna perform all sort of method on this dat eobject
print(ts1.is_leap_year)  
print(ts1.month_name())

2
False
January

In [5]:
pd.Timestamp('2025')

Timestamp('2025-01-01 00:00:00')

In [6]:
pd.Timestamp('2025-jan-31, 12:00PM')

Timestamp('2025-01-31 12:00:00')

# [video about `datetime.datetime` of vanilla python](https://www.youtube.com/live/UE6DmRQJ2w8?si=FDz-y3H26eWYEBmv&t=5007)

In [7]:
import datetime as dt

dt1 = dt.datetime(2025, 1, 1, 12, 0)  # Creating a datetime object for January 1, 2025 at 12 PM
dt1

datetime.datetime(2025, 1, 1, 12, 0)

In [8]:
dt1.weekday()  # You can perform all sort of method on this dat eobject

2

In [9]:
# fetching attributes
dt1.year, dt1.month, dt1.day, dt1.hour, dt1.minute, dt1.second

(2025, 1, 1, 12, 0, 0)

In [10]:
# Why pandas datetime over vanilla python datetime? -> https://www.youtube.com/live/UE6DmRQJ2w8?si=z50m2MOr6JZA8mCx&t=5337

# numpy dateTime

In [11]:
np.arange('2025-01-01', '2025-12-31', dtype='datetime64') # creating a year dates using numpy

array(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04',
       '2025-01-05', '2025-01-06', '2025-01-07', '2025-01-08',
       '2025-01-09', '2025-01-10', '2025-01-11', '2025-01-12',
       '2025-01-13', '2025-01-14', '2025-01-15', '2025-01-16',
       '2025-01-17', '2025-01-18', '2025-01-19', '2025-01-20',
       '2025-01-21', '2025-01-22', '2025-01-23', '2025-01-24',
       '2025-01-25', '2025-01-26', '2025-01-27', '2025-01-28',
       '2025-01-29', '2025-01-30', '2025-01-31', '2025-02-01',
       '2025-02-02', '2025-02-03', '2025-02-04', '2025-02-05',
       '2025-02-06', '2025-02-07', '2025-02-08', '2025-02-09',
       '2025-02-10', '2025-02-11', '2025-02-12', '2025-02-13',
       '2025-02-14', '2025-02-15', '2025-02-16', '2025-02-17',
       '2025-02-18', '2025-02-19', '2025-02-20', '2025-02-21',
       '2025-02-22', '2025-02-23', '2025-02-24', '2025-02-25',
       '2025-02-26', '2025-02-27', '2025-02-28', '2025-03-01',
       '2025-03-02', '2025-03-03', '2025-03-04', '2025-03-05',
       '2025-03-06', '2025-03-07', '2025-03-08', '2025-03-09',
       '2025-03-10', '2025-03-11', '2025-03-12', '2025-03-13',
       '2025-03-14', '2025-03-15', '2025-03-16', '2025-03-17',
       '2025-03-18', '2025-03-19', '2025-03-20', '2025-03-21',
       '2025-03-22', '2025-03-23', '2025-03-24', '2025-03-25',
       '2025-03-26', '2025-03-27', '2025-03-28', '2025-03-29',
       '2025-03-30', '2025-03-31', '2025-04-01', '2025-04-02',
       '2025-04-03', '2025-04-04', '2025-04-05', '2025-04-06',
       '2025-04-07', '2025-04-08', '2025-04-09', '2025-04-10',
       '2025-04-11', '2025-04-12', '2025-04-13', '2025-04-14',
       '2025-04-15', '2025-04-16', '2025-04-17', '2025-04-18',
       '2025-04-19', '2025-04-20', '2025-04-21', '2025-04-22',
       '2025-04-23', '2025-04-24', '2025-04-25', '2025-04-26',
       '2025-04-27', '2025-04-28', '2025-04-29', '2025-04-30',
       '2025-05-01', '2025-05-02', '2025-05-03', '2025-05-04',
       '2025-05-05', '2025-05-06', '2025-05-07', '2025-05-08',
       '2025-05-09', '2025-05-10', '2025-05-11', '2025-05-12',
       '2025-05-13', '2025-05-14', '2025-05-15', '2025-05-16',
       '2025-05-17', '2025-05-18', '2025-05-19', '2025-05-20',
       '2025-05-21', '2025-05-22', '2025-05-23', '2025-05-24',
       '2025-05-25', '2025-05-26', '2025-05-27', '2025-05-28',
       '2025-05-29', '2025-05-30', '2025-05-31', '2025-06-01',
       '2025-06-02', '2025-06-03', '2025-06-04', '2025-06-05',
       '2025-06-06', '2025-06-07', '2025-06-08', '2025-06-09',
       '2025-06-10', '2025-06-11', '2025-06-12', '2025-06-13',
       '2025-06-14', '2025-06-15', '2025-06-16', '2025-06-17',
       '2025-06-18', '2025-06-19', '2025-06-20', '2025-06-21',
       '2025-06-22', '2025-06-23', '2025-06-24', '2025-06-25',
       '2025-06-26', '2025-06-27', '2025-06-28', '2025-06-29',
       '2025-06-30', '2025-07-01', '2025-07-02', '2025-07-03',
       '2025-07-04', '2025-07-05', '2025-07-06', '2025-07-07',
       '2025-07-08', '2025-07-09', '2025-07-10', '2025-07-11',
       '2025-07-12', '2025-07-13', '2025-07-14', '2025-07-15',
       '2025-07-16', '2025-07-17', '2025-07-18', '2025-07-19',
       '2025-07-20', '2025-07-21', '2025-07-22', '2025-07-23',
       '2025-07-24', '2025-07-25', '2025-07-26', '2025-07-27',
       '2025-07-28', '2025-07-29', '2025-07-30', '2025-07-31',
       '2025-08-01', '2025-08-02', '2025-08-03', '2025-08-04',
       '2025-08-05', '2025-08-06', '2025-08-07', '2025-08-08',
       '2025-08-09', '2025-08-10', '2025-08-11', '2025-08-12',
       '2025-08-13', '2025-08-14', '2025-08-15', '2025-08-16',
       '2025-08-17', '2025-08-18', '2025-08-19', '2025-08-20',
       '2025-08-21', '2025-08-22', '2025-08-23', '2025-08-24',
       '2025-08-25', '2025-08-26', '2025-08-27', '2025-08-28',
       '2025-08-29', '2025-08-30', '2025-08-31', '2025-09-01',
       '2025-09-02', '2025-09-03', '2025-09-04', '2025-09-05',
       '2025-09-06', '2025-09-07', '2025-09-08', '2025-09-09',
       '2025-09-10', '2025-09-11', '2025-09-12', '2025-09-13',
       '2025-09-14', '2025-09-15', '2025-09-16', '2025-09-17',
       '2025-09-18', '2025-09-19', '2025-09-20', '2025-09-21',
       '2025-09-22', '2025-09-23', '2025-09-24', '2025-09-25',
       '2025-09-26', '2025-09-27', '2025-09-28', '2025-09-29',
       '2025-09-30', '2025-10-01', '2025-10-02', '2025-10-03',
       '2025-10-04', '2025-10-05', '2025-10-06', '2025-10-07',
       '2025-10-08', '2025-10-09', '2025-10-10', '2025-10-11',
       '2025-10-12', '2025-10-13', '2025-10-14', '2025-10-15',
       '2025-10-16', '2025-10-17', '2025-10-18', '2025-10-19',
       '2025-10-20', '2025-10-21', '2025-10-22', '2025-10-23',
       '2025-10-24', '2025-10-25', '2025-10-26', '2025-10-27',
       '2025-10-28', '2025-10-29', '2025-10-30', '2025-10-31',
       '2025-11-01', '2025-11-02', '2025-11-03', '2025-11-04',
       '2025-11-05', '2025-11-06', '2025-11-07', '2025-11-08',
       '2025-11-09', '2025-11-10', '2025-11-11', '2025-11-12',
       '2025-11-13', '2025-11-14', '2025-11-15', '2025-11-16',
       '2025-11-17', '2025-11-18', '2025-11-19', '2025-11-20',
       '2025-11-21', '2025-11-22', '2025-11-23', '2025-11-24',
       '2025-11-25', '2025-11-26', '2025-11-27', '2025-11-28',
       '2025-11-29', '2025-11-30', '2025-12-01', '2025-12-02',
       '2025-12-03', '2025-12-04', '2025-12-05', '2025-12-06',
       '2025-12-07', '2025-12-08', '2025-12-09', '2025-12-10',
       '2025-12-11', '2025-12-12', '2025-12-13', '2025-12-14',
       '2025-12-15', '2025-12-16', '2025-12-17', '2025-12-18',
       '2025-12-19', '2025-12-20', '2025-12-21', '2025-12-22',
       '2025-12-23', '2025-12-24', '2025-12-25', '2025-12-26',
       '2025-12-27', '2025-12-28', '2025-12-29', '2025-12-30'],
      dtype='datetime64[D]')

In [12]:
npDate = np.datetime64('2025-01-01') 
np.arange(7) + npDate

array(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04',
       '2025-01-05', '2025-01-06', '2025-01-07'], dtype='datetime64[D]')

# DatetimeIndex Objects

In [13]:
# DatetimeIndex ->  https://www.youtube.com/live/UE6DmRQJ2w8?si=-MfCFw27CutBxFbE&t=5447

In [14]:
pd.DatetimeIndex(['2025/1/1 7PM', '2025/2/2', '2025/3/3'])

DatetimeIndex(['2025-01-01 19:00:00', '2025-02-02 00:00:00',
               '2025-03-03 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [15]:
type(pd.DatetimeIndex(['2025/1/1 7PM', '2025/2/2', '2025/3/3']))

pandas.core.indexes.datetimes.DatetimeIndex

In [16]:
pd.DatetimeIndex(['2025/1/1 7PM', '2025/2/2', '2025/3/3'])[0]

Timestamp('2025-01-01 19:00:00')

In [17]:
# using vanilla python datetime object in DatetimeIndex, similarly pd.Timestamp object can also be used in DatetimeIndex
                # Y M D H M S 
dt2 = dt.datetime(2025, 1, 1, 12, 0)
pd.DatetimeIndex([dt2, dt2 + dt.timedelta(days=1), dt2 + dt.timedelta(days=2,hours=7)])
# time delta is used to specify the difference between two dates

DatetimeIndex(['2025-01-01 12:00:00', '2025-01-02 12:00:00',
               '2025-01-03 19:00:00'],
              dtype='datetime64[ns]', freq=None)

In [18]:
# now using `DatetimeIndex` with pandas series (we can alsos use in datframe too)
pd.Series(np.random.randn(3), index=pd.DatetimeIndex(['2025/1/1 7PM', pd.Timestamp('2025/2/2, 7PM '), '2025/3/3']))

2025-01-01 19:00:00   -0.295753
2025-02-02 19:00:00    0.850466
2025-03-03 00:00:00    0.861205
dtype: float64

# [`date_range` function, click for video](https://www.youtube.com/live/UE6DmRQJ2w8?si=hD1fM8xZxbcQpD_o&t=5867)

In [19]:
pd.date_range('2025-01-01', '2025-12-31', freq='3D 1H')
""" so frequency parameter is used to specify the difference between two dates, in this case 3 days and 1 hour, 
between two dates """
# so basically when end param is specified, freq will work like sort od differnce between dates

C:\Users\Vedansh\AppData\Local\Temp\ipykernel_34904\3337465318.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  pd.date_range('2025-01-01', '2025-12-31', freq='3D 1H')

' so frequency parameter is used to specify the difference between two dates, in this case 3 days and 1 hour, \nbetween two dates '

In [ ]:
"""periods parameter specifies the number of periods between start and end dates(if end date is provided), if not
it will generate n dates(n = `periods` param value) from start('start' param value) date"""
# -> https://www.youtube.com/live/UE6DmRQJ2w8?si=4JPGmbZmH-y2GaEz&t=6237
pd.date_range(start='2025-01-01', periods=3) # by default `freq` is daily, means 1 day differnce

DatetimeIndex(['2025-01-01', '2025-01-02', '2025-01-03'], dtype='datetime64[ns]', freq='D')

In [21]:
# Now all sort of function that available for datetime objects also can be used on `DatetimeIndex` object
print(pd.date_range('2025-01-01', periods=3))

print(pd.date_range('2025-01-01', periods=3).month_name())
print(pd.date_range('2025-01-01', periods=3).day_name())

DatetimeIndex(['2025-01-01', '2025-01-02', '2025-01-03'], dtype='datetime64[ns]', freq='D')
Index(['January', 'January', 'January'], dtype='object')
Index(['Wednesday', 'Thursday', 'Friday'], dtype='object')

In [22]:
print(pd.date_range('2025-01-01', periods=3)) # by default it will show in day level, means 1 day differnce

DatetimeIndex(['2025-01-01', '2025-01-02', '2025-01-03'], dtype='datetime64[ns]', freq='D')

In [23]:
# let's say we only want business days (Mon-Fri)

business_days = pd.date_range('2025-01-01', periods=31, freq='B') # means 31 business days from 2025-01-01
business_days

DatetimeIndex(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-06',
               '2025-01-07', '2025-01-08', '2025-01-09', '2025-01-10',
               '2025-01-13', '2025-01-14', '2025-01-15', '2025-01-16',
               '2025-01-17', '2025-01-20', '2025-01-21', '2025-01-22',
               '2025-01-23', '2025-01-24', '2025-01-27', '2025-01-28',
               '2025-01-29', '2025-01-30', '2025-01-31', '2025-02-03',
               '2025-02-04', '2025-02-05', '2025-02-06', '2025-02-07',
               '2025-02-10', '2025-02-11', '2025-02-12'],
              dtype='datetime64[ns]', freq='B')

In [24]:
# one week per day(used to get only day from a week) -> https://www.youtube.com/live/UE6DmRQJ2w8?si=RFw2ybKrX0S2BoIo&t=6047

pd.date_range('2025-01-01', periods=2, freq='W-THU')  # means only Thursday 2 times, from 2025-01-01

DatetimeIndex(['2025-01-02', '2025-01-09'], dtype='datetime64[ns]', freq='W-THU')

In [25]:
# Only month end, MS for month start, ME for month end

pd.date_range('2025-01-01', periods=2, freq='ME') # means 2 months end from 2025-01-01

DatetimeIndex(['2025-01-31', '2025-02-28'], dtype='datetime64[ns]', freq='ME')

In [26]:
# A - Year End

pd.date_range('2025-01-01', periods=2, freq='A') # means 2 years end from 2025-01-01

C:\Users\Vedansh\AppData\Local\Temp\ipykernel_34904\1831928916.py:3: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  pd.date_range('2025-01-01', periods=2, freq='A') # means 2 years end from 2025-01-01

DatetimeIndex(['2025-12-31', '2026-12-31'], dtype='datetime64[ns]', freq='YE-DEC')

# [`to_datetime` function can convert string to datetime object, SEE video for more info](https://www.youtube.com/live/UE6DmRQJ2w8?si=_kxG_qfUGqmgQZEe&t=6307)

In [56]:
# converts existing objects to pandas timestamps/datetimeindex object


# simple series exmaple

s = pd.Series(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04', '2025-01-05', '2025-01-06', '2025-01-07'])
s = pd.to_datetime(s) # so here we convert string series data to pandas datetime series
# now we can perform all sort of pandas datetime operations on this series, but use `dt` accesssor
s

0   2025-01-01
1   2025-01-02
2   2025-01-03
3   2025-01-04
4   2025-01-05
5   2025-01-06
6   2025-01-07
dtype: datetime64[ns]

In [57]:
s.dt.day_name() # now we can get day names for each date in series

0    Wednesday
1     Thursday
2       Friday
3     Saturday
4       Sunday
5       Monday
6      Tuesday
dtype: object

In [29]:
s.dt.year

0    2025
1    2025
2    2025
3    2025
4    2025
5    2025
6    2025
dtype: int32

In [ ]:
# with errors -> https://www.youtube.com/live/UE6DmRQJ2w8?si=ixbMKWkBpXX9JBB4&t=6517
s = pd.Series(['2025/1/1','2025,1,177'])
pd.to_datetime(s, errors='coerce') # NaT stands for `not a time`, and when you will do datetime operation on NaT, it will return NaN

0   2025-01-01
1          NaT
dtype: datetime64[ns]

In [31]:
pd.to_datetime(s, errors='coerce').dt.year

0    2025.0
1       NaN
dtype: float64

In [32]:
# usefulness of this funtion -> https://www.youtube.com/live/UE6DmRQJ2w8?si=QxG2m6Am9EYUBaUK&t=6637

In [33]:
# More example of pandas datetime operations -> https://www.youtube.com/live/UE6DmRQJ2w8?si=tkiK4oCdFhQeJU32&t=6637

In [ ]:
# plot graphs -> https://www.youtube.com/live/UE6DmRQJ2w8?si=m46rbtJJS22uQQcf&t=6847